<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Mega Rocket</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
    <header>
        <div class="box">
            <button>
            <img src="../../assets/imgs/header-menu.svg" alt="Menu icon">
            </button>
            <h2>Mega Rocket</h2>
        </div>
        <div class="logos">
            <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
            <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
            <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
            <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
            <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
        </div>
    </header>
    <div id="sign-up-container" class="container">
        <form action="../views/login.html" id="sign-up-form" class="card">
            <h1 class="section-title">Mega Rocket</h1>
            <h2 id="sign-up-title" class="section-title">Sign up</h2>
            <div id="name-div" class="sign-up-input">
                <label>Name*</label>
                <input id="name" type="text" placeholder="First Name">
            </div>
            <div id="last-name-div" class="sign-up-input">
                <label>Last name*</label>
                <input id="last-name" type="text" placeholder="Last Name">
            </div>
            <div id="div" class="sign-up-input">
                <label>DNI*</label>
                <input id="dni" type="text" placeholder="DNI">
            </div>
            <div id="birth-div" class="sign-up-input">
                <label>Birthday*</label>
                <input id="dob" type="date">
            </div>
            <div id="phone-div" class="sign-up-input">
                <label>Phone Number*</label>
                <input id="phone" type="text" placeholder="3413 380 888">
            </div>
            <div id="address-div" class="sign-up-input">
                <label>Address*</label>
                <input id="address" type="text" placeholder="123 Fake Street">
            </div>
            <div id="location-div" class="sign-up-input">
                <label>Location*</label>
                <input id="city" type="text" placeholder="Your Location">
            </div>
            <div id="postal-div" class="sign-up-input">
                <label>Postal Code*</label>
                <input id="zip" type="text" placeholder="Postal code">
            </div>
            <div id="email-div" class="sign-up-input">
                <label>Email*</label>
                <input id="email" type="text" placeholder="E-mail">
            </div>
            <div id="password-div">
                <div class="sign-up-input">
                    <label>Password*</label>
                    <input id="password" type="password" placeholder="**********">
                </div>
                <div class="sign-up-input">
                    <label>Repeat Password*</label>
                    <input id="r-password" type="password" placeholder="**********">
                </div>
            </div>
            <p id="required-fields">* Indicates a required field</p>
            <a href="../views/login.html">Already have an account</a>
            <div id="sign-up-buttons">
                <button><a href="../views/index.html">Home</a></button>
                <button type="submit">Sign up</button>
            </div>
        </form>
    </div>
    <footer>
        <div class="logos">
            <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
            <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
            <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
            <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
            <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
        </div>
        <p class="text">Rosario, Argentina</p>
        <p class="text">
            Copyright &copy; 2022 Radium rocket. All rights reserved.
        </p>
    </footer>
    <script src="../js/sign-up.js"></script>
</body>
</html>