<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/login.css">
        <title>Log-in Mega Rocket</title>
    </head>
    <body>
        <header>
            <div class="box">
                <button>
                <img src="../../assets/imgs/header-menu.svg" alt="Menu icon">
                </button>
                <h2>Mega Rocket</h2>
            </div>
            <div class="logos">
                <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
                <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
                <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
                <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
                <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
            </div>
        </header>
        <div id="login-container" class="container">
            <form id="login-form" class="card">
                <h1 class="section-title">Mega Rocket</h1>
                <h2 class="section-title">Login</h2>
                <div id="email-div" class="login-input">
                    <label>Email:</label>
                    <input id="input-email" type="text" placeholder="Type your Email">
                    <img alt="email logo" src="../../assets/imgs/email-envelop.png">
                </div>
                <div id="password-div" class="login-input">
                    <label>Password:</label>
                    <input id="input-password" type="password" placeholder="Type your password">
                    <img alt="password logo" src="../../assets/imgs/password.png">
                </div>
                <a>Forgot password?</a>
                <a href="../views/sign-up.html">Create an account</a>
                <div id="login-buttons">
                    <button><a href="../views/index.html">Home</a></button>
                    <button type="submit">Sign in</button>
                </div>
            </form>
        </div>
        <footer>
            <div class="logos">
                <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
                <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
                <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
                <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
                <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
            </div>
            <p class="text">Rosario, Argentina</p>
            <p class="text">
                Copyright &copy; 2022 Radium rocket. All rights reserved.
            </p>
        </footer>
        <script src="../js/login.js"></script>
    </body>
</html>