<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up Mega Rocket</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/sign-up.css">
</head>
<body>
    <header>
        <div class="box">
            <button>
            <img src="../../assets/imgs/header-menu.svg" alt="Menu icon">
            </button>
            <h2>Mega Rocket</h2>
        </div>
        <div class="logos">
            <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
            <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
            <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
            <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
            <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
        </div>
    </header>
    <div id="login-container" class="container">
        <form id="login-form" class="card">
            <h1 class="section-title">Mega Rocket</h1>
            <h2 id="sign-up-title" class="section-title">Sign up</h2>
            <div id="name-div" class="login-input">
                <label>Name*</label>
                <input id="input-name" type="text" placeholder="First Name">
            </div>
            <div id="last-name-div" class="login-input">
                <label>Last name*</label>
                <input id="input-last-name" type="text" placeholder="Last Name">
            </div>
            <div id="email-div" class="login-input">
                <label>Email*</label>
                <input id="input-email" type="text" placeholder="E-mail">
            </div>
            <div id="phone-div" class="login-input">
                <label>Phone Number*</label>
                <input id="input-phone" type="text" placeholder="+549 3413 380 888">
            </div>
            <div id="membership-div">
                <label>Membership*</label>
                <input type="radio" name="membership">
                <label class="radio-label">Black</label>
                <input type="radio" name="membership">
                <label class="radio-label">Classic</label>
                <input type="radio" name="membership">
                <label class="radio-label">Only classes</label>
            </div>
            <div id="password-div" class="login-input">
                <label>Password*</label>
                <input id="input-password" type="password" placeholder="**********">
            </div>
            <div id="r-password-div" class="login-input">
                <label>Repeat Password*</label>
                <input id="input-r-password" type="password" placeholder="**********">
            </div>
            <p>* Indicates a required field</p>
            <div id="login-buttons">
                <button><a href="../views/index.html">Home</a></button>
                <button type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <footer>
        <div class="logos">
            <img class="logo" alt="LinkedIn Logo" src="../../assets/imgs/linkedin-logo.png">
            <img class="logo" alt="Twitter Logo" src="../../assets/imgs/twitter-logo.png">
            <img class="logo" alt="Facebook Logo" src="../../assets/imgs/facebook-logo.png">
            <img class="logo" alt="Instagram Logo" src="../../assets/imgs/instagram-logo.png">
            <img class="logo" alt="Github Logo" src="../../assets/imgs/github-logo.png">
        </div>
        <p class="text">Rosario, Argentina</p>
        <p class="text">
            Copyright &copy; 2022 Radium rocket. All rights reserved.
        </p>
    </footer>
    <script src="../js/sign-up.js"></script>
</body>
</html>