footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    height:40vw;
    margin:0 2vw;
    padding:5vw 0 2vw 0;
    border-top:1vw solid rgb(170, 206, 155);
    font-size:3vw;
}

footer .logos{
    margin:0 2vw;
    width:92vw;
}

footer .logo{
    width:14vw;
}