.pages {
    display:flex;
    justify-content:space-around;
    align-items: baseline;
    margin:0 2vw;
}

.pages button {
    width: 9vw;
    height: 7vw;
    border: 0.4vw solid rgb(170, 206, 155);
    color: rgb(170, 206, 155);
    font-weight:normal ;
}

.pages .btn-bigger {
    width:15vw;
    height:8vw;
}

