body{
    font-family:'Roboto',sans-serif;
    color:#373867;
    font-size:3.6vw;
}

.mobile-hide, .btn-hide{
    display:none;
}



/*---------FORMS---------*/

label{
    font-weight:bold;
    margin:3vw 0;
}

input, select, textarea{
    display:block;
    border-color:#373867;
    border-width:0.3vw;
    border-radius:1vw;
    width:92vw;
    font-size:4.5vw;
    font-family:'Roboto',sans-serif;
    color:rgba(55, 56, 103, 0.5);
    }

::placeholder{
    color:rgba(55, 56, 103, 0.5);
}

input{
    height:8.5vw;
}

select{
    height:9.5vw;
}
  
textarea{
    height:32vw;
    width:94vw;
}

button{
    width:25vw;
    height:8vw;
    margin-top:5vw;
    border-radius:1vw;
    border:0.3vw solid #373867;
    background-color:white;
    font-size:3vw;
    font-weight:bold;
    color:#373867;
}

/*---------LISTS---------*/

ol {
    width:67vw;
    text-align:center;
    list-style-type:decimal;
    list-style-position:inside;
}
