body {
    background-color:#d9d9d9;
}

.container {
    display:flex;
    width:96vw;
    margin:0 auto;
    background-color:white;
}

.card {
    display:flex;
    width:88vw;
    margin:auto;
    padding:2vw;
    border:0.5vw solid #EBEBEB;
    border-radius: 2vw;
}

#login-container {
    height:100vw;
}


#login-form {
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height:90vw;
}

.login-input {
    display:flex;
    justify-content:space-between;
    align-content: flex-start;
    flex-wrap:wrap;
    margin-bottom:7vw;
    width:55vw;
    height:15vw;
}

#login-form img{
    height:5vw;
    margin:0;
}

label {
    height:7vw;
}

input{
    height:5vw;
    width:45vw;
    border-radius:1vw;
    border-width:0.2vw;
    font-size:3vw;
}

.border-red {
    border: 0.5vw solid red;
}

.text-alert {
    align-self: baseline;
    color:red;
    font-weight:bold;
    font-size:3vw;
}